<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">  <!-- ✅ HERE -->
</head>
<body>

<h2>Register</h2>

<p style="color:red;" th:text="${error}"></p>

<form action="/register" method="post">
    Name: <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    Phone: <input type="text" name="phone"><br><br>
    Organization: <input type="text" name="org"><br><br>

    <button type="submit">Register</button>
</form>

</body>
</html>